In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
df = pd.read_csv("C:/Users/Tanc/Desktop/Data/2020/202001/20200101/20200101-00.csv")
df

,Unnamed: 0,VehicleID,gpsvalid,lat,lon,timestamp,speed,heading,for_hire_light,engine_acc,date,timeR,lat_lon,BKK
0,0,RdZ+aLuit7HgakstnAm8wlCD3II,1,13.82811,100.63003,2020-01-01 00:00:12,30,188,1,1,2020-01-01,00:00:12,13.828_100.63,True
1,1,Z/EHO1TlpBQhRPkBWuppPrKXXwg,1,13.74802,100.54831,2020-01-01 00:00:09,0,12,1,1,2020-01-01,00:00:09,13.748_100.548,True
2,2,C5PcZWjRll+RJvHicnZUYVWFaQw,1,13.79240,100.52455,2020-01-01 00:00:15,19,291,0,1,2020-01-01,00:00:15,13.792_100.525,True
3,3,rwunHqTWzTc+VnvKNwA/NFXZDqI,1,13.74041,100.61557,2020-01-01 00:00:09,0,315,0,1,2020-01-01,00:00:09,13.74_100.616,True
4,4,N8Ugs7SfidT3Ufa/fQUYEV3HtPA,1,13.97559,100.62237,2020-01-01 00:00:01,0,251,0,0,2020-01-01,00:00:01,13.976_100.622,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147434,147434,aDcAJHw/9VGNSvsAU5MVk+UETFM,0,16.72007,98.56890,2020-01-01 00:39:05,0,138,0,1,2020-01-01,00:39:05,16.72_98.569,False
147435,147435,mafrn9DW5GFY0Z1bfI+8q6ezk3U,1,14.97511,99.37299,2020-01-01 00:50:57,0,129,1,0,2020-01-01,00:50:57,14.975_99.373,False
147436,147436,/NHgLIwGUqwjfRAB29+9XX7NTg0,1,13.56629,100.89155,2020-01-01 00:18:24,0,128,1,0,2020-01-01,00:18:24,13.566_100.892,False
147437,147437,Aq3Naa0nFI0Br6RubxcuFB6YodE,1,13.71721,100.73648,2020-01-01 00:49:07,0,166,1,0,2020-01-01,00:49:07,13.717_100.736,True
147438,147438,4VzEtk9S9BLOXAA4QZkY2U9cnjE,0,13.85422,100.63410,2020-01-01 00:00:11,0,201,0,0,2020-01-01,00:00:11,13.854_100.634,True

In [30]:
df = df.sort_values(["VehicleID","timeR"])
df

,Unnamed: 0,VehicleID,gpsvalid,lat,lon,timestamp,speed,heading,for_hire_light,engine_acc,date,timeR,lat_lon,BKK
3849,3849,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:01:28,0,333,0,0,2020-01-01,00:01:28,13.771_100.474,True
10766,10766,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:04:28,0,333,0,0,2020-01-01,00:04:28,13.771_100.474,True
17731,17731,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:07:28,0,333,0,0,2020-01-01,00:07:28,13.771_100.474,True
23939,23939,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:10:28,0,333,0,0,2020-01-01,00:10:28,13.771_100.474,True
31950,31950,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:13:28,0,333,0,0,2020-01-01,00:13:28,13.771_100.474,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113749,113749,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:45:36,0,359,1,0,2020-01-01,00:45:36,13.596_100.314,False
120526,120526,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:48:35,0,359,1,0,2020-01-01,00:48:35,13.596_100.314,False
127326,127326,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:51:36,0,359,1,0,2020-01-01,00:51:36,13.596_100.314,False
134053,134053,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:54:35,0,359,1,0,2020-01-01,00:54:35,13.596_100.314,False
140792,140792,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:57:35,0,359,1,0,2020-01-01,00:57:35,13.596_100.314,False

In [48]:
df2 = df.sort_values(["VehicleID","timeR"])
df2.reset_index(drop=True)

,Unnamed: 0,VehicleID,gpsvalid,lat,lon,timestamp,speed,heading,for_hire_light,engine_acc,date,timeR,lat_lon,BKK
0,3849,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:01:28,0,333,0,0,2020-01-01,00:01:28,13.771_100.474,True
1,10766,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:04:28,0,333,0,0,2020-01-01,00:04:28,13.771_100.474,True
2,17731,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:07:28,0,333,0,0,2020-01-01,00:07:28,13.771_100.474,True
3,23939,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:10:28,0,333,0,0,2020-01-01,00:10:28,13.771_100.474,True
4,31950,++iY830QzVXT6Slkr+8ftkTzMN4,1,13.77085,100.47392,2020-01-01 00:13:28,0,333,0,0,2020-01-01,00:13:28,13.771_100.474,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147434,113749,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:45:36,0,359,1,0,2020-01-01,00:45:36,13.596_100.314,False
147435,120526,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:48:35,0,359,1,0,2020-01-01,00:48:35,13.596_100.314,False
147436,127326,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:51:36,0,359,1,0,2020-01-01,00:51:36,13.596_100.314,False
147437,134053,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:54:35,0,359,1,0,2020-01-01,00:54:35,13.596_100.314,False
147438,140792,zzLYPcDONaA8lLF2aJYFKnoRDQ4,1,13.59584,100.31354,2020-01-01 00:57:35,0,359,1,0,2020-01-01,00:57:35,13.596_100.314,False

In [57]:
UniqueID = df['VehicleID'].unique()
df2 = pd.DataFrame()
a = df.groupby(["VehicleID"])
for i in UniqueID:
    b = a.get_group(i)
    c = b[(b['for_hire_light'].shift(1) == 1) & (b['for_hire_light'] == 0)]  
    if not c.empty:
        df2 = pd.concat([df2,c])
df2 = df2.reset_index(drop=True)
df2
#1->0 = pick / 0->1 = drop

,Unnamed: 0,VehicleID,gpsvalid,lat,lon,timestamp,speed,heading,for_hire_light,engine_acc,date,timeR,lat_lon,BKK
0,48272,+29vjACl86r3J4WkxpF+nOMZXAQ,1,13.80958,100.53946,2020-01-01 00:19:57,10,202,0,1,2020-01-01,00:19:57,13.81_100.539,True
1,143260,+29vjACl86r3J4WkxpF+nOMZXAQ,1,13.70438,100.37503,2020-01-01 00:58:45,5,155,0,1,2020-01-01,00:58:45,13.704_100.375,True
2,11799,+2L7LBRmCGckWqgtLFypdGuQ5i8,1,13.94339,100.39252,2020-01-01 00:05:14,0,295,0,1,2020-01-01,00:05:14,13.943_100.393,False
3,112211,+2L7LBRmCGckWqgtLFypdGuQ5i8,1,13.89312,100.40417,2020-01-01 00:46:00,17,131,0,1,2020-01-01,00:46:00,13.893_100.404,False
4,7704,+3rQ3PUgUtPmONvyj8DeEzIjdgw,1,13.64074,100.59335,2020-01-01 00:03:22,55,23,0,1,2020-01-01,00:03:22,13.641_100.593,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2300,79329,znDrUEq0JsiXE6APEpmZPUmw7+w,1,13.70927,100.49571,2020-01-01 00:32:09,30,239,0,1,2020-01-01,00:32:09,13.709_100.496,True
2301,118679,zntRKlvXILigTYkZUAupZHGUi64,1,13.93244,100.66577,2020-01-01 00:48:30,12,87,0,1,2020-01-01,00:48:30,13.932_100.666,True
2302,37847,zt6r6X6cjBVDqWxKcbyXkn1Cydw,1,13.74578,100.42791,2020-01-01 00:15:37,0,159,0,1,2020-01-01,00:15:37,13.746_100.428,True
2303,139800,zt6r6X6cjBVDqWxKcbyXkn1Cydw,1,13.66744,100.38368,2020-01-01 00:57:18,19,358,0,1,2020-01-01,00:57:18,13.667_100.384,True
2304,117574,zyeBW9qUOBALXsAcuVFk8UG/e18,1,13.66555,100.60396,2020-01-01 00:48:04,0,202,0,1,2020-01-01,00:48:04,13.666_100.604,True

In [ ]:
df2['hour'] = df2['timestamp'].str[11:13]
df2['day'] = df2['timestamp'].str[8:10]
df2

In [ ]:
df3 = df2[["lat","lon"]]
df3

In [ ]:
from sklearn.cluster import DBSCAN

In [ ]:
dbscan = DBSCAN(eps=0.01, min_samples=16)

In [ ]:
cluster = dbscan.fit_predict(df3)
cluster

In [ ]:
df4 =  pd.DataFrame(cluster,columns=["clusterID"])
df4

In [ ]:
df5 = pd.DataFrame.join(df3,df4)
df5 = df5.assign(counts=1)
df5 = df5.join(df2["day"])
df5 = df5.join(df2["hour"])
df5
df5 = df5[df5.clusterID != -1]

In [ ]:
df5 = df5.groupby(['clusterID']).agg({"lat":"mean","lon":"mean","counts":"sum"})
df5

- มีจุดไหนบ้างที่  taxi วิ่งจอดได้คนเลย
- มีจุดไหนบ้างที่ taxi จอดรอ ไม่เกิน 10 นาที
- มีจุดไหนบ้างที่  taxi จอดรอ 10-30 นาที
- มีจุดไหนบ้างที่ taxi จอด 10 นาทีแล้วไม่ได้คน จึงออกไป
- แบ่งตามวัน และช่วงเวลา
- ตัดเอาปั๊มน้ำมันออก